@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@100;400;700&display=swap');

*{
    background-color: #E6E1D8;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Roboto';
}

body{
    display: flex;
}

#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    margin: 0;
    padding: 5px;
    height: 98vh;
    width: 15vw;
    background-color: whitesmoke;
    box-shadow: 8px 1px 5px whitesmoke;
}

#menu img, h3, p{
    background: none;
}

#menu img:first-child {
    margin: 3vh 0;
    width: 50px;
    height: 50px;
}

#menu h3 {
    margin-bottom: 7vh;
}

#menu .row img {
    width: 30px;
    height: 30px;
    justify-content: start;
}

#menu .row p {
    text-transform: uppercase;
    margin-left: 1vw;
}

#menu .row{
    display: flex;
    background: none;
    align-items: center;
}

#menu a {
    background: none;
    text-decoration: none;
    color: black;
}

#traco {
    margin-top: 10vh;
    height: 1px;
    width: 13vw;
    border-bottom: 1px solid whitesmoke;
    box-shadow: 1px 1px 10px #000;
}

#conteudo {
    display: flex;
    flex-direction: column;
    margin-left: 15vw;
}

h1 {
    width: 85vw;
    margin-top: 5vh;
    text-align: center;
    text-transform: uppercase;
}

.conteudoadmin{
    margin: 30px;
}

.conteudoadmin p{
    margin-bottom: 1vh;
    font-weight:bolder ;
}

.conteudoadmin input:not(:first-child) {
    margin-left: 2vw;
}

.botao {
    display: flex;
    width: 85vw;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #f44336; 
    border-radius: 8px;    
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 150px;
    cursor: pointer;
}

.campodefinicoes {
    display: flex;
    flex-direction: column;
}

.linhadefinicoes {
    display: flex;
    flex-direction: row;
}

#novalinha{
    display: none;
}

.msgretorno {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.msgretorno .linhamsgretorno .msg{
    display: flex;
    background: none;
    color: #fff;
    text-transform: uppercase;
    padding: 5vh 32.8vw;
    width: max-content;
    background-color: green;
}

.cabecalho{
    display: flex;
    margin-top: 5vh;
    width: 100%;
    justify-content: space-around;
}

.linhacalendario{
    display: flex;
    margin-top: 5vh;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 2vh;
    border-bottom: 1px solid #000;
}

.servicosagenda{
    min-width: 20em;
}

.editarexcluir{
    display: flex;
    justify-content: space-between;
    height: 25px;
}

.editarexcluir img{
    margin: 2px;
    cursor: pointer;
    width: 20px;
    padding: 0;
    background: none;
}

.editarexcluir button{
    background: none;
    padding: 0;
    width: 35px;
}

.btnbuscaagenda button{
    height: 35px;
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnbuscaagenda a{
    text-decoration: none;
}
