/* PALETA DE CORES DO SITE 
#D7CEC7 - GRAIN
#565656 - BLACKBOARD
#76323F - OXBLOOD
#C09F80 - TAN 
#E6E1D8 - BACKGROUND*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@100;400;700&display=swap');

*{
    background-color: #E6E1D8;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Roboto';
}

header {
    display: flex;
    width: 99vw;
    justify-content: space-between;
    background-color: #76323F;
    height: 15vh;
}

header a img {
    padding: 15px 50px;
    width: 70px;
    height: 70px;
    background: none;
}

header #menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;    
}

header button {
    display: none;
}

header h3, a {
    text-decoration: none;
    padding: 0 7px;
    color: black;
    background: none;
}

header h3:hover {
    transition: 0.3s;
    color: #C09F80;
}

#menu a:last-child h3{
    background-color: #C09F80;
    padding: 10px 5px;
    border-radius: 15em;
}

#menu a:last-child h3:hover{
    color: black;
    background-color: #ac8f73;
}

header #menubtn img {
    display: none;
}

.social {
    margin-right: 30px;
    background: none;
}

.social img{
    margin-top: 55px;
    padding: 0px  0;
    width: 20px;
    height: 20px;
}

.propaganda{
    width: 800px; 
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 20px;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    background-color: #000;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child){
    margin-right: 30px;
}

.manual-btn:hover{
    background-color: #000;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

#unidades{
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.unidade{
    border: 2px solid black;
    height: 60vh;
    width: 24%;
    overflow: hidden;
    text-transform: uppercase;
    background-color: #C09F80;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unidade img{
    width: 100%;
}

.unidade h2, h4{
    margin-top: 5px;
}

.unidade h2, h4, span, address{
    background-color: #C09F80;
}

.unidade .txtunidade {
    margin-top: 3vh;
    background: none;
}

#sobre{
    display: flex;
    padding-top: 60px;
    background-color: #76323F;
}

#sobre #texto{
    background: none;
    margin-left: 50px;
    width: 40vw;
    height: 90vh;
}

#sobre #texto h1 {
    background: none;
    margin-bottom: 25px;
    border-left: 5px solid #E6E1D8;
    padding-left: 5px;
}

#sobre #texto p{
    padding: 10px;
    background: none;
    color: #E6E1D8;
    text-align: justify;
}

#sobre #img {
    width: 60vw;
    height: 90vh;
    overflow: hidden;
    background: none;
}

#sobre img {
    background: none;
    position: sticky;
    width: 100%;
}

#produtos {
    display: none;
}

#produtos a {
    display: flex;
    width: 100vw;
    height: 30vh;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #000;
}

#produtos h1 {
    background: none;
}

#produtos img {
    height: 30vh;
    overflow: hidden;
    margin-left: 70px;
    background: none;
}

#servicos {
    display: flex;
    margin-top: 50px;
    padding-bottom: 50px;
    border-bottom: 0;
}

#servicos #img{
    display: flex;
    height: 100vh;
    width: 70vw;
    justify-content: center;
}

#servicos #titulo { 
    margin: 50px 0px;
    padding: 5px;
    border-left: 5px solid #76323F;
}

#serviços .coluna{
    display: flex;
    height: 100vh;
    width: 30vw;
    margin-top: 10px;
    margin-right: 20px;
}

#servicos .linha{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.3em;
}

#servicos p{
    margin: 15px;
}

#servicos p:last-child{
    display: flex;
    justify-content: flex-end;
}

#servicos .coluna .linha img {
    width: 5%;
}

#servicos .coluna .linha p:last-child{
    display: flex;
    justify-content: flex-end;
}

#servicos .coluna .linha:not(:first-child){
    border-bottom: 3px solid #76323F;
}

#agendamento{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-bottom: 25vh;
}

#agendamento:not(:first-child){
    align-items: center;
}

#agendamento h1{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: #76323F;
    width: 92.2vw;
    padding: 1.4em;
    color: #E6E1D8;
}

#agendamento form{
    display: block;
    border: 3px solid #000;
    width: 35vw;
    height: 90vh;
    margin-top: 35px;
    background-color: #ac8f73;
    border-radius: 13px;
}

#agendamento label, input, select, option, button, #checkbox-servicos, span{
    background: none;
}

#agendamento .row{
    background:none;
    margin: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

#agendamento input{
    border: 1px solid #000;
    border-radius: 15px;
    padding: 3px;
    padding-left: 7px;
    color: #E6E1D8;
    margin-left: 32px;
    margin-bottom: 10px;
}

#agendamento label{
    font-weight: bold;
}

#agendamento form .row #btn_agendamento{
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #E6E1D8;
    cursor: pointer;
}

#agendamento form .row #btn_agendamento:hover {
    background-color: #fff;
}

#agendamento form .row:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
}

#agendamento .row #servico {
    display: block;
    background-color: #ac8f73;        
}

#agendamento .row #servico #title{
    display: block;
    background-color: #ac8f73; 
}

footer{
    height: 30vh;
    width: 98vw;
    background-color: #76323F;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer h1, h5{
    background: none;
    color: #E6E1D8;
}

#confirmacao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 85vh;
}

#confirmacao span{
    font-weight: bold;
}

#confirmacao img{
    width: 250px;
    height: 250px;
}

#confirmacao p{
    font-size: 1.5em;
}

@media screen and (max-width: 480px) {
    header {
        display: flex;
        background-color: #76323F;
        height: 10vh;
        margin: 0;
        width: 100%;
    }
    
    header #logo {
        display: flex;
        align-items: center;
    }
    
    header a img {
        padding: 0;
        margin-left: 5vw;
        width: 40px;
        height: 40px;
    }
    
    header #menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        position: absolute;
        margin-left: 70.5%;
        margin-top: 9vh;
        padding: 2vh 0;
        background-color: #76323F;
        border-radius: 8px;
        display: none;
        z-index: 2;
    }

    header #menu a {
        margin: 2vh 0;
        border-right: 1px solid #E6E1D8;
        padding-right: 1px;
        margin-right: 1.3vw;
    }

    #menu a:last-child {
        border: none;
    }

    header #menubtn img{
        display: flex;
        align-items: center;
        background: none;
        width: 30px;
        height: 30px;
        margin-right: 5vw;
    }

    header .social { 
        display: none;
    }

    .propaganda {
        display: none;
        /* display: none;
        z-index: -1;
        width: 80%;
        height: 50%; */
    }

    #unidades {
        display: flex;
        margin-top: 5px;
    }

    .unidade{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 15vh;
        font-size: 8px;
        background-color: #ac8f73;
    }

    .unidade .background{
        width: 100%;
        height: 100%;
        background-image: url("https://images.unsplash.com/photo-1622288432450-277d0fef5ed6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: 50%;
        background-position-x: 50%;
        opacity: 0.7;
    }

    .unidade img{
        display: none;
    }

    .unidade h4 {
        display: none;
    }

    .unidade h2{
        display: fl      
    }
    
    #unidades .unidade .txtunidade {
        background-color: #C09F80;
    }

    #unidades .unidade .txtunidade h2 {
        text-size-adjust: unset;
    }

    #sobre{
        margin-top: 10px;
        padding-top: 20px;
    }
    
    #sobre #texto{
        background: none;
        margin-left: 10px;
        width: 90vw;
        height: 90vh;
        padding-bottom: 60px;
    }
    
    #sobre #texto h1 {
        background: none;
        margin-bottom: 25px;
        border-left: 5px solid #E6E1D8;
        padding-left: 5px;
    }
    
    #sobre #texto p{
        padding: 10px;
        background: none;
        color: #E6E1D8;
        text-align: justify;
    }
    
    #sobre #img {
        display: none;
        width: 60vw;
        height: 90vh;
        overflow: hidden;
        background: none;
    }
    
    #sobre img {
        background: none;
        position: sticky;
        width: 100%;
    }
    
    #produtos {
        display: none;
    }

    #servicos {
        display: flex;
        padding-left: 20px;
        margin-top: 0px;
        padding-bottom: 50px;
    }
    
    #servicos #img{
        display: none;
    }
    
    #servicos #titulo { 
        margin: 50px 0px;
        padding: 5px;
        border-left: 5px solid #76323F;
    }
    
    #serviços .coluna{
        display: flex;
        height: 100vh;
        width: 30vw;
        margin-top: 10px;
        margin-right: 20px;
    }
    
    #servicos .linha{
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-size: 1.3em;
    }
    
    #servicos p{
        margin: 15px;
    }
    
    #servicos p:last-child{
        display: flex;
        justify-content: flex-end;
    }
    
    #servicos .coluna .linha img {
        width: 5%;
    }
    
    #servicos .coluna .linha p:last-child{
        display: flex;
        justify-content: flex-end;
    }
    
    #servicos .coluna .linha:not(:first-child){
        border-bottom: 3px solid #76323F;
    }
    
    #servicos .linha :not(:last-child){
        width: 50vw;
    }

    #agendamento{
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin-bottom: 8vh;
    }
    
    #agendamento:not(:first-child){
        align-items: center;
    }
    
    #agendamento h1{
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        background-color: #76323F;
        width: 92.2vw;
        padding: 1em;
        color: #E6E1D8;
    }
    
    #agendamento form{
        display: block;
        border: 3px solid #000;
        width: 85vw;
        height: 80vh;
        margin-top: 35px;
        background-color: #ac8f73;
        border-radius: 13px;
    }
    
    #agendamento label, input, select, option, button, #checkbox-servicos, span{
        background: none;
    }
    
    #agendamento .row{
        background:none;
        margin: 25px;
        padding-bottom: 10px;
        border-bottom: 1px solid gray;
    }

    #agendamento .row #servico {
        display: block;
        background-color: #ac8f73;        
    }
    
    #agendamento .row #servico #title{
        display: block;
        background-color: #ac8f73;        
    }

    #agendamento .row #servico input{
        background: none;
    }

    #agendamento input{
        border: 1px solid #000;
        border-radius: 15px;
        padding: 3px;
        padding-left: 7px;
        color: #E6E1D8;
        margin-left: 32px;
        margin-bottom: 10px;
    }
    
    #agendamento label{
        font-weight: bold;
    }
    
    #agendamento form .row #btn_agendamento{
        padding: 5px;
        border: 2px solid black;
        border-radius: 5px;
        background-color: #E6E1D8;
        cursor: pointer;
    }
    
    #agendamento form .row #btn_agendamento:hover {
        background-color: #fff;
    }
    
    #agendamento form .row:last-child{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -10px;
    }
    

    footer {
        display: none;
    }

}